<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="../dashboard">My dashboard</a>
    </li>
  </ol>

</nav>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl">View trainees</h1>

      <p>Search for a trainee by completing one or more search fields.</p>

     <div style="display: flex; gap: 1.5rem; align-items: flex-end; flex-wrap: wrap;">

  <!-- Search for trainee -->
  <div>
    <label class="nhsuk-label" for="input-width-10">Enter name or cipher</label>
    <input
      class="nhsuk-input nhsuk-input--width-10 nhsuk-u-secondary-text-color"
      id="input-width-10"
      name="test-width-10"
      type="text"
      placeholder=""
    />
  </div>



  <!-- Group Select -->
  <div>
    <label class="nhsuk-label" for="group">Select group</label>
    <select
      class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-10"
      id="group"
      name="group"
    >
      <option value="Select">Show all</option>
      <option value="group1">1</option>
      <option value="group2">2</option>
      <option value="group3">3</option>
      <option value="group4">4</option>
      <option value="group5">5</option>
      <option value="group6">6</option>
    </select>
  </div>

  <!-- Logged In As & Go Button -->
  <div style="display: flex; align-items: flex-end; gap: 1rem;">
    <!-- Dropdown -->
    <div>
      <label class="nhsuk-label" for="select-1">Status</label>
      <select
        class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-10"
        id="select-1"
        name="select-1"
      >
          <option value="list-trainees" selected>Show all</option>
                        <option value="new"> New</option>
                     <option value="Ongoing" >Ongoing</option>
                       <option value="complete" >Removed</option>
      </select>
    </div>

    <!-- Go Button -->
    <div style="margin-bottom: -33px;">
      <button class="nhsuk-button" onclick="goToSelectedPage()">Search</button>
    </div>
  </div>
</div>

<script>
  function goToSelectedPage() {
    const select = document.getElementById("select-1");
    const selectedValue = select.value;
    window.location = selectedValue;
  }
</script>

<div class="nhsuk-u-padding-bottom-8"></div>

          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
                <tr>
                <th scope="col" class="nhsuk-table__header">Trainee</th>
                <th scope="col" class="nhsuk-table__header">Week</th>
                <th scope="col" class="nhsuk-table__header">Manager</th>
                 <th scope="col" class="nhsuk-table__header">Group</th>
                <th scope="col" class="nhsuk-table__header">Status</th>
                <th scope="col" class="nhsuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">James Jacob (jaja)</td>
                <td class="nhsuk-table__cell">0</td>
                <td class="nhsuk-table__cell"></td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"> <strong class="nhsuk-tag nhsuk-tag--green">New</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="assign-trainee">Assign</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">John Philips (Jophi)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell">Matthew John (majoh)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="view-trainee">View</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Michael Roberts (Mirob)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell">Matthew John (majoh)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">David Carter (Dacar)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell">Matthew John (majoh)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Sophia Turner (Sotur)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell">John Smith (josmi)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Daniel Brooks (Dabro)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell">Matthew John (majoh)</td>
                <td class="nhsuk-table__cell">1</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                 <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Emily Sanders (Emsan)</td>
                <td class="nhsuk-table__cell">2</td>
                <td class="nhsuk-table__cell">John Smith (josmi)</td>
                <td class="nhsuk-table__cell">2</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                    <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Thomas Gray (Thgra)</td>
                <td class="nhsuk-table__cell">2</td>
                <td class="nhsuk-table__cell">Matthew John (majoh)</td>
                <td class="nhsuk-table__cell">2</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
               
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Chris Walker (Chwal)</td>
                <td class="nhsuk-table__cell">2</td>
                <td class="nhsuk-table__cell">John Smith (josmi)</td>
                <td class="nhsuk-table__cell">2</td>  
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Completed</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
                
                 <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Olivia Harris (Olhar)</td>
                <td class="nhsuk-table__cell">4</td>
                <td class="nhsuk-table__cell">John Smith (josmi)</td>
                <td class="nhsuk-table__cell">4</td>
                <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Completed</strong></td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="#">View</a>
                </td>
                </tr>
            </tbody>
          </table>


<!--pagination-->
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Page 1 of 6</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>


     


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
