<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    
    <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="../dashboard">My dashboard</a></li>
   
  </ol>

</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl">Checks to complete</h1>

      
      <p class="nhsuk-body"><a href="review-history">Your review history</a> </p>

<!-- Filter & Go Button -->
  <div style="display: flex; align-items: flex-end; gap: 1rem;">
    <!-- Dropdown -->
    <div>
      <label class="nhsuk-label" for="select-1">Filter by status</label>
      <select
        class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-10"
        id="select-1"
        name="select-1">
                    
                        <option value="checks-to-complete" >Error review queue</option>
                            <option value="awaiting-feedback" selected>Awaiting feedback</option>
      </select>
    </div>

    <!-- Go Button -->
    <div style="margin-bottom: -33px;">
      <button class="nhsuk-button" onclick="goToSelectedPage()">Search</button>
    </div>
  </div>


<script>
  function goToSelectedPage() {
    const select = document.getElementById("select-1");
    const selectedValue = select.value;
    window.location = selectedValue;
  }
</script>

<br>

  <div style="display: flex; align-items: flex-end; gap: 1rem;">
    <!-- search trainee -->
    <div>
      <label class="nhsuk-label" for="search-trainee">Enter name or cipher</label>
      <input type="text" class="nhsuk-select nhsuk-input--width-10" id="search-trainee" name="search-trainee" value=""/>
    </div>

    <!-- Go Button -->
    <div style="margin-bottom: -33px;">
      <a href="checks-to-complete-search" class="nhsuk-button" >Search</a>
    </div>
  </div>


  <div class="nhsuk-u-padding-bottom-8"></div>


  <h2 class="nhsuk-heading-s">Awaiting feedback queue (x)</h2>

          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
                <tr>
                <th scope="col" class="nhsuk-table__header">Trainee name</th>
                <th scope="col" class="nhsuk-table__header">Date</th>
                <th scope="col" class="nhsuk-table__header">Latest checker</th>
                <th scope="col" class="nhsuk-table__header">Prescriptions processed</th>
                <th scope="col" class="nhsuk-table__header">Total errors</th>
                <th scope="col" class="nhsuk-table__header">Errors reviewed</th>
                <th scope="col" class="nhsuk-table__header">Total processing time</th>
                <th scope="col" class="nhsuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">John Philips (JOPHIL)</td>
                <td class="nhsuk-table__cell">15 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">97</td>
                <td class="nhsuk-table__cell">97</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="error-details">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">John Smith (JOSMI)</td>
                <td class="nhsuk-table__cell">15 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">95</td>
                <td class="nhsuk-table__cell">95</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">George Paul (GEPL)</td>
                <td class="nhsuk-table__cell">16 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">84</td>
                <td class="nhsuk-table__cell">84</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Peter Paul (PEPL)</td>
                <td class="nhsuk-table__cell">16 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">67</td>
                <td class="nhsuk-table__cell">67</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Daniel Miller (DAMIL)</td>
                <td class="nhsuk-table__cell">16 May 2025</td>
               <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">97</td>
                <td class="nhsuk-table__cell">97</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Micheal John (MIJO)</td>
                <td class="nhsuk-table__cell">17 May 2025</td>
               <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">76</td>
                <td class="nhsuk-table__cell">76</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Micheal Jackson (MIJA)</td>
                <td class="nhsuk-table__cell">17 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">98</td>
                <td class="nhsuk-table__cell">98</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>

                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Johnson Paul (JOPA)</td>
                <td class="nhsuk-table__cell">18 May 2025</td>
               <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">76</td>
                <td class="nhsuk-table__cell">76</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Ben Rowley (BERO)</td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">87</td>
                <td class="nhsuk-table__cell">87</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>
                                                                                                                                                                                                                                                                                                               

                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">James Bond (JABO)</td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (AMJO)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">98</td>
                <td class="nhsuk-table__cell">98</td>
                <td class="nhsuk-table__cell">212</td>
                <td class="nhsuk-table__cell"><a href="">View errors</a> | <a href="leave-feedback">Leave feedback</a></td>
                </tr>


            </tbody>
          </table>

  <div aria-hidden="true" style="display:none">Jane Doe</div>
<!--pagination-->
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Page 1 of 3</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>


     
 <a href="/images/Checks to complete(Sheet1).csv" download class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Export as CSV
</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
