<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="../dashboard">My dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="checks-to-complete">Checks to complete</a>
    </li>
     <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="review-history">Review history</a>
    </li>
    <!--<li class="nhsuk-breadcrumb__item">Error details</li>-->
  </ol>

</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Edit daily errors review</h1>
<span class="nhsuk-caption-xl nhsuk-u-margin-bottom-4">John Philips (JOPHI)</span>
<p class="nhsuk-body-m nhsuk-u-secondary-text-color">Completed on 23 May 2025 at 4:23pm</p>

        

<br>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <!-- Image / Prescription scan -->  
            <img class="nhsuk-image__img" src="/images/image_png.png" alt="precription form.">       
  </div>

  <div class="nhsuk-grid-column-one-half">
    <!-- Item 1 Section -->
    <h2 class="nhsuk-heading-m">Error stream - Item 1</h2>
        

   <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Product
        </dt>
        <dd class="nhsuk-summary-list__value">
        <strong class="nhsuk-tag nhsuk-tag--red">Incorrect</strong>
        <span class="nhsuk-u-visually-hidden">Warning</span>
          91776 - Biotene moisturising mouthwash 500ml
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Quantity</dt>
        <dd class="nhsuk-summary-list__value">1</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="min-width: 220px; width: 20%;">
          Add info
        </dt>
        <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag nhsuk-tag--red">Incorrect</strong>
        <span class="nhsuk-u-visually-hidden">Warning</span>-</dd>
      </div>

    </dl>
    

    <!-- Expected input -->
    <h3 class="nhsuk-heading-s">Expected input</h3>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Product</dt>
        <dd class="nhsuk-summary-list__value">64750 - Biotene Oralbalance dry mouth saliva replacement gel 50g</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Quantity</dt>
        <dd class="nhsuk-summary-list__value">1</dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Add info</dt>
        <dd class="nhsuk-summary-list__value">ND</dd>
      </div>
    </dl>

  </div>
</div>


<br>
<br>

        <div class="nhsuk-hint" id="example-hint">
          <strong>Notes: </strong> SAKAD 13:12 18/11/2025
        </div>
<br>
<br> 
 <!-- Error code -->
    <h2 class="nhsuk-heading-m">Add error code</h2>
    <div>
      <label class="nhsuk-label" for="status"><span class="nhsuk-u-visually-hidden">Add error code</span></label>
        <select class="nhsuk-select nhsuk-date-input__input nhsuk-input--width-4" id="status" name="status" type="text" inputmode="numeric" style="width: 470px;">
            <option value="Select">Select an error code</option>
          <option value="A1" selected>Incorrect drug keyed (A1)</option>
            <option value="A2">Incorrect drug confirmed (A2)</option>
            <option value="B1">Incorrect appliance keyed (B1)</option>
            <option value="B2">Incorrect appliance confirmed (B2)</option>
             <option value="C1">Incorrect strength keyed (C1)</option>
        </select>
    </div>

<br>
<br>  

 <!-- Comment -->
<h2 class="nhsuk-heading-m">Your comments</h2>
<label class="nhsuk-label" for="Comment"><span class="nhsuk-u-visually-hidden">Comment</span></label>
<textarea class="nhsuk-textarea" id="Comment" name="Comment" rows="5" aria-describedby="Comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>

<br>
<br>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Problem with master data and pool
    </span>
  </summary>

  <div class="nhsuk-details__text">
    <div class="nhsuk-form-group">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          Is the master data correct?
        </legend>

        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-radios--conditional" data-module="nhsuk-radios">
          <!-- Yes -->
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="masterdata-yes"
                   name="masterdata"
                   type="radio"
                   value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="masterdata-yes">Yes</label>
          </div>

          <!-- No -->
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="masterdata-no"
                   name="masterdata"
                   type="radio"
                   value="no"
                   aria-controls="conditional-masterdata-no"
                   aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="masterdata-no">No</label>
          </div>
          </div>
          <!-- Conditional reveal when "No" selected -->
          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"
               id="conditional-masterdata-no">

            <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                Is the trainee's input correct?
              </legend>
              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input"
                         id="trainee-yes"
                         name="trainee"
                         type="radio"
                         value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="trainee-yes">Yes</label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input"
                         id="trainee-no"
                         name="trainee"
                         type="radio"
                         value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="trainee-no">No</label>
                </div>
              </div>
            </fieldset>


            <form method="post" action="continueerror">
            <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-4">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
                Do you want to remove answer from pool?
              </legend>
              <div class="nhsuk-radios nhsuk-radios--inline">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input"
                         id="remove-yes"
                         name="continueerror"
                         type="radio"
                         value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="remove-yes">Yes</label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input"
                         id="remove-no"
                         name="continueerror"
                         type="radio"
                         value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="remove-no">No</label>
                </div>
              </div>
            </fieldset>

          </div><!-- end conditional -->
        <!-- end radios -->
      </fieldset>
    </div><!-- end form-group -->
  </div><!-- end details__text -->
</details>



 <a href="error-review-view-confirm" class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Update review
        </a>

         <!--a href="error-review-view" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
        Cancel
        </a-->

</form>

<!--pagination-->
<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <li class="nhsuk-pagination-item--previous">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="error-review-view-edit">
        <span class="nhsuk-pagination__title">Previous</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Page 1 of 50</span>
        <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
          <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z" />
        </svg>

      </a>
    </li>

    <li class="nhsuk-pagination-item--next">
      <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="error-review-view-edit-2">
        <span class="nhsuk-pagination__title">Next</span>
        <span class="nhsuk-u-visually-hidden">:</span>
        <span class="nhsuk-pagination__page">Page 3 of 50</span>
        <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>



{% endblock %}
