<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    
    <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="../dashboard">My dashboard</a></li>
    <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="checks-to-complete">Checks to complete</a></li>

  </ol>

  <a class="nhsuk-back-link" href="../dashboard">
    <span class="nhsuk-u-visually-hidden">Back to</span>My Dashboard
  </a>

</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-5">Error review history</h1>

      <p class="nhsuk-body">View all completed error reviews. You can filter reviews by the date the review was completed, checker name, or both.</p>

<!-- Filter & Go Button -->

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">Filter by date or name, or both
       <!--h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Filter by date or name, or both</h3-->
    </span>
  </summary>
  <div class="nhsuk-details__text">

 <label class="nhsuk-label" for="example-day">Enter date</label>
  <div class="nhsuk-hint" id="example-hint">
    For example, 15 3 2025
  </div>

  <!-- FLEX CONTAINER -->
  <div style="display: flex; gap: 6px; align-items: flex-end;">

    <!-- DATE INPUTS -->
    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group" style="margin: 0;">
      <div class="nhsuk-date-input" id="example">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group" style="margin-bottom: 0;">
            <label class="nhsuk-label nhsuk-date-input__label" for="example-day">Day</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="example-day" name="example[day]" type="text" inputmode="numeric" value="">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group" style="margin-bottom: 0;">
            <label class="nhsuk-label nhsuk-date-input__label" for="example-month">Month</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="example-month" name="example[month]" type="text" inputmode="numeric" value="">
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group" style="margin-bottom: 0;">
            <label class="nhsuk-label nhsuk-date-input__label" for="example-year">Year</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
              id="example-year" name="example[year]" type="text" inputmode="numeric" value="">
          </div>
        </div>
      </div>
    </fieldset>   
  </div>

<br>    
    <!-- search trainee -->
    <div>
      <label class="nhsuk-label" for="search-trainee">Enter checker name or cipher</label>
      <input type="text" class="nhsuk-select" id="search-trainee" name="search-trainee" value="Amy Johnson" style="width: 250px;"/>
    </div>
<br>

    <!-- Go Button -->
     <a href="review-history-2" class="nhsuk-button" >Search</a>
     <a href="review-history" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-2" >Clear search</a>

  </div>
</details>



  <div class="nhsuk-u-padding-bottom-4"></div>

  <h3 class="nhsuk-heading-s">Completed reviews (x)</h3>

          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
                <tr>
                <th scope="col" class="nhsuk-table__header">Trainee name</th>
                <th scope="col" class="nhsuk-table__header">Review completed date</th>
                <th scope="col" class="nhsuk-table__header">Latest checker</th>
                <th scope="col" class="nhsuk-table__header">Prescriptions processed</th>
                <th scope="col" class="nhsuk-table__header">Total errors</th>
                <th scope="col" class="nhsuk-table__header">Errors reviewed</th>
                <th scope="col" class="nhsuk-table__header">Total review time (mins)</th>
                <th scope="col" class="nhsuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="error-review-view">John Philips (Jophi)</a></td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (amjo)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">72</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">2043</td>
                <td class="nhsuk-table__cell"><a href="view-feedback">View feedback</a> | <a href="/images/Checks to complete(Sheet1).csv" download>Export</td>
                </td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="">John Smith (josmi)</a></td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (amjo)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell"><a href="">View feedback</a> | <a href="">Export</td>
                </td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">George Paul (gepl)</a></td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (amjo)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell"><a href="">View feedback</a> | <a href="">Export</td>
                </td>
                </tr>


                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">Peter Paul (pepl)</a></td>
                <td class="nhsuk-table__cell">18 May 2025</td>
                <td class="nhsuk-table__cell">Amy Johnson (amjo)</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell">104</td>
                <td class="nhsuk-table__cell"><a href="">View feedback</a> | <a href="">Export</td>
                </td>
                </tr>

            </tbody>
          </table>


<!--pagination-->


     
 <a href="/images/Checks to complete(Sheet1).csv" download class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Export as CSV
</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
