<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="../dashboard">My dashboard</a></li>
     <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="checks-to-complete">Checks to complete</a></li>
     <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="review-history">Review history</a></li>
    <!--<li class="nhsuk-breadcrumb__item">Error details</li>-->
  </ol>

</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

            <div class="nhsuk-panel">
              <h1 class="nhsuk-panel__title">
                Your feedback has been saved.
              </h1>
            </div>

<br>

<h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">View your feedback</h1>
<span class="nhsuk-caption-xl nhsuk-u-margin-bottom-4">John Doe (jdoe)</span>
<p class="nhsuk-body-m nhsuk-u-secondary-text-color">Feedback for 23 May 2025 (x errors)</p>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
<br>
                <h2 class="nhsuk-heading-m">Comment</h2>
                <!--p class="nhsuk-body-m">Lorem ipsum is a dummy or placeholder text commonly used in graphic design, publishing, and web development.</p-->

            

              <table class="nhsuk-table">
               <tbody class="nhsuk-table__body">
                  <tr>
                    <th scope="col" class="nhsuk-table__header">Your feedback</th>
                     <td class="nhsuk-table__cell nhsuk-u-text-break-word">Lorem ipsum is a dummy or placeholder text commonly used in graphic design, publishing, and web development.</td>
                  </tr>     

                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header">Method of communication</th>
                    <td class="nhsuk-table__cell nhsuk-u-text-break-word">Teams chat</td>
                  </tr>

                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header">Time taken in minutes to give feedback</th>                   
                    <td class="nhsuk-table__cell nhsuk-u-text-break-word">30</td>
                  </tr>

                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header">Date</th>                   
                    <td class="nhsuk-table__cell nhsuk-u-text-break-word">Feedback left on 23 May 2025 10:23am</td>
                  </tr>
                </tbody>
              </table>

              <p class="nhsuk-u-margin-top-5"><strong>Notes: </strong>Edited by [Admin Name] on [Date/Time]</p>
               
<br>


              <a href="leave-feedback-edit" class="nhsuk-button" data-module="nhsuk-button" type="submit">
                  Edit feedback
                 </a> 


            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}