<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-no-access.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

      <br>
      
      <!-- Change the page title here -->
      <h1>
        Access the Prescription Processing Training Package
      </h1>
    

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>Use this service to:  
        <ul>
          <li>process prescriptions</li>
          <li>complete checks</li>
          <li>view and download reports</li>
        </ul>
      </p>

      <a href="login-admin" class="nhsuk-button">Sign in</a>
      

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Need help with signing in?
          </span>
        </summary>
        <div class="nhsuk-details__text">

          <p>Contact the helpdesk on 0300 123 2344 or via email at <a href="mailto:PS-TMC@nhsbsa.nhs.uk">PS-TMC@nhsbsa.nhs.uk</a> for help</p>

        </div>
      </details>
     
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
