<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">Are you sure you want to sign out?</h1>
    

      <div class="nhsuk-form-group">

        <form action="Adminsignout" method="post">

          <div class="nhsuk-radios nhsuk-radios--inline">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="inline-1" name="Adminsignout" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="inline-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="inline-2" name="Adminsignout" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="inline-2">
                No
              </label>
            </div>
      
          </div>
       
      
      </div>

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
     </form>

    </div>
  </div>
{% endblock %}
