<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


<br>
      
      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">Are you still there?</h1>
     
     <p class="nhsuk-body">You have been inactive for 10 minutes and will be signed out automatically in 5 minutes if no action is taken.</p>

     <p class="nhsuk-body">You have been signed out</p>
 

     <br>

<a href="access-admin" class="nhsuk-button">Sign back in</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
