{% extends 'layout.html' %}

{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="dashboard">My dashboard</a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


 <div class="container">
  <div class="image-container">
  <input type="checkbox" id="zoomCheck">
  <label for="zoomCheck">
    <img src="/images/cip-1.png" alt="invoice">
  </label>
</div>
</div>    

  <style>
    .image-container {
      position: relative;
      display: inline-block;
    }

    .image-container img {
      display: block;
      width: 1000px;
    }

    .highlight-text {
      position: absolute;
      background-color: hsla(54, 100%, 50%, 0.347); /* Semi-transparent red */
      padding: 10px 460px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
    }

    /* Position each word where you need it */
    .word1 {
      top: 500px;
      left: 50px;
    }

       input[type=checkbox] {
  display: none;
}

.container img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
  width: 1000px;
  height: 1000px;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}
  </style>

</div>
</div>

{% endblock %}
