<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__list-item">
      <a class="nhsuk-breadcrumb__link" href="dashboard">My dashboard</a>
    </li>
  </ol>

<button class="nhsuk-back-link">
  Back
</button>

</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">View my performance</h1>
        <span class="nhsuk-caption-xl nhsuk-u-margin-bottom-5">Jennie (JABIN)</span>


<div class="nhsuk-tabs" data-module="nhsuk-tabs">
  <h2 class="nhsuk-tabs__title">
    Contents
  </h2>
  <ul class="nhsuk-tabs__list">
    <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
      <a class="nhsuk-tabs__tab" href="#DailySummary">
       Daily summary
      </a>
    </li>
    <li class="nhsuk-tabs__list-item">
      <a class="nhsuk-tabs__tab" href="#CommonErrors">
        Common errors
      </a>
    </li>
  </ul>
  <div class="nhsuk-tabs__panel" id="DailySummary">

    <table class="nhsuk-table">
      <h2>End of the day performance summary</h2>

        <div class="nhsuk-form-group" >
            <label class="nhsuk-label" for="select-1">
              Select a date range
            </label>
            <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
              <option value="0">Select a date range</option>
              <option value="1">20 Oct 2025 to 24 Oct 2025 (Week 26)</option>
              <option value="2">13 Oct 2025 to 17 Oct 2025 (Week 25)</option>
              <option value="3">06 Oct 2025 to 10 Oct 2025 (Week 24)</option>
              <option value="4">29 Sep 2025 to 03 Oct 2025 (Week 23)</option>
              <option value="5">22 Sep 2025 to 26 Sep 2025 (Week 22)</option>
              <option value="6">15 Sep 2025 to 19 Sep 2025 (Week 21)</option>
              <option value="7">08 Sep 2025 to 12 Sep 2025 (Week 20)</option>
              <option value="8">01 Sep 2025 to 05 Sep 2025 (Week 19)</option>
              <option value="9">25 Aug 2025 to 29 Aug 2025 (Week 18)</option>
              <option value="10">18 Aug 2025 to 22 Aug 2025 (Week 17)</option>
              <option value="11">11 Aug 2025 to 15 Aug 2025 (Week 16)</option>
              <option value="12">04 Aug 2025 to 08 Aug 2025 (Week 15)</option>
              <option value="13">28 Jul 2025 to 01 Aug 2025 (Week 14)</option>
              <option value="14">21 Jul 2025 to 25 Jul 2025 (Week 13)</option>
              <option value="15">14 Jul 2025 to 18 Jul 2025 (Week 12)</option>
              <option value="16">07 Jul 2025 to 11 Jul 2025 (Week 11)</option>
              <option value="17">30 Jun 2025 to 04 Jul 2025 (Week 10)</option>
              <option value="18">23 Jun 2025 to 27 Jun 2025 (Week 9)</option>
              <option value="19">16 Jun 2025 to 20 Jun 2025 (Week 8)</option>
              <option value="20">09 Jun 2025 to 13 Jun 2025 (Week 7)</option>
              <option value="21">02 Jun 2025 to 06 Jun 2025 (Week 6)</option>
              <option value="22">26 May 2025 to 30 May 2025 (Week 5)</option>
              <option value="23">19 May 2025 to 23 May 2025 (Week 4)</option>
              <option value="24">12 May 2025 to 16 May 2025 (Week 3)</option>
              <option value="25">05 May 2025 to 09 May 2025 (Week 2)</option>
              <option value="26">28 Apr 2025 to 02 May 2025 (Week 1)</option>
            </select>

            <button class="nhsuk-button nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-4 nhsuk-u-margin-left-2" data-module="nhsuk-button" type="submit">
            Search
            </button>
          </div>


      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-table__header">Date</th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Prescriptions processed</th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Total time <br> processing (mins)</th>
            <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Average prescriptions <br> per hour</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">23 May 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">129</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">409</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">55</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">22 May 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">55</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">63</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">55</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">21 May 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">260</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">239</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">58</td>
        </tr>
         <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">20 May 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">65</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">74</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">24</td>
        </tr>
         <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">19 May 2025</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">70</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">80</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">33</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Second tab for common errors -->

  <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="CommonErrors">
    <table class="nhsuk-table">
      <h2>My most common errors in the last 5 days</h2>

        <div class="nhsuk-hint" id="contact-hint">
         19 May 2025 to 23 May 2025 (week 4)
        </div>

      <thead class="nhsuk-table__head">
        <tr>
          <th scope="col" class="nhsuk-table__header">Error type</th>
          <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Total errors</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Incorrect drug keyed (A1)</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">26</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Incorrect drug confirmed (A2)</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">25</td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Incorrect appliance keyed (B1)</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">20</td>
        </tr>
         <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Incorrect appliance confirmed (B2)</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">13</td>
        </tr>
         <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Incorrect strength keyed (C1)</td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">8</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

     


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
