<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        Access removed
      </h1>

      <p class="nhsuk-body-l nhsuk-u-margin-bottom-4">
        You no longer have access to the <strong>Prescription Processing Training Package</strong>.
      </p>

      <p class="nhsuk-body">
        If you believe this is a mistake, please contact your training supervisor or system administrator.
      </p>

      <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-5">

      <!--p>
        <a href="/" class="nhsuk-link">Return to homepage</a>
      </p-->

    </div>
  </div>
  
{% endblock %}
