<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="dashboard">Dashboard</a>
    </li>
    <!--<li class="nhsuk-breadcrumb__item">Error details</li>-->
  </ol>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">


      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">Prescription Processing Training Package</span>
      <h1 class="nhsuk-heading-xl">My quality check</h1>

        <div class="nhsuk-form-group" >
            <label class="nhsuk-label" for="select-1">
              Select a date range
            </label>
            <select class="nhsuk-select" id="select-1" name="select-1" style="width:400px">
              <option value="1"selected>Select a month and year</option>
               <option value="2">June 2025</option>
              <option value="3">May 2025</option>
              <option value="4">April 2025</option>
              <option value="5">March 2025</option>
              <option value="2">February 2025</option>
              <option value="3">January 2025</option>
              <option value="4">December 2024</option>
              <option value="5">November 2024</option>
              <option value="6">October 2024</option>
            </select>

            <button class="nhsuk-button nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-2 nhsuk-u-margin-bottom-4 nhsuk-u-margin-left-2" data-module="nhsuk-button" type="submit">
            Change
            </button>
          </div>


          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
                <tr>
                <th scope="col" class="nhsuk-table__header">Date</th>
                <th scope="col" class="nhsuk-table__header">Total errors made</th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="error-details">19 May 2025</a></td>
                <td class="nhsuk-table__cell">11</td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="error-details">18 May 2025</a></td>
                <td class="nhsuk-table__cell">9</td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">17 May 2025</a></td>
                <td class="nhsuk-table__cell">7</td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">15 May 2025</a></td>
                <td class="nhsuk-table__cell">23</td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">12 May 2025</a></td>
                <td class="nhsuk-table__cell">42</td>
                </tr>
                <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">11 May 2025</a></td>
                <td class="nhsuk-table__cell">32</td>
                </tr>
                 <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">10 May 2025</a></td>
                <td class="nhsuk-table__cell">21</td>
                </tr>
                 <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="#">09 May 2025</a></td>
                <td class="nhsuk-table__cell">19</td>
                </tr>
            </tbody>
          </table>





     

  <a href="dashboard" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Back to dashboard
</a>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
