<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="list-trainees">List of trainees</a>
    </li>
    <!--<li class="nhsuk-breadcrumb__item">Error details</li>-->
  </ol>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
      <span class="nhsuk-caption-xl">Prescription Processing Training Package</span>
      <h1 class="nhsuk-heading-xl">Trainee profile</h1>

        <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Trainees name</th>
            <td class="nhsuk-table__cell">James Jacob (jajac)</td>
            <td class="nhsuk-table__cell"></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Start date</th>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"><a href="assign-trainee">Assign</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Trainees manager</th>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"><a href="">Assign</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Training group</th>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"><a href="assign-trainee">Assign</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Status</th>
            <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--blue">
                New
                </strong></td>
            <td class="nhsuk-table__cell"><a href="edit-trainee">Change</a></td>
            </tr>

            <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">Quality check</th>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"></td>
            </tr>
        </tbody>
        </table>


        <a href="list-trainees" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          Back to list of trainees
        </a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}