<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Prescription Processing Training Package
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="../dashboard">Dashboard</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
      <a class="nhsuk-breadcrumb__link" href="list-trainees">List of trainees</a>
    </li>
    <!--<li class="nhsuk-breadcrumb__item">Error details</li>-->
  </ol>
</nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}




  <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">


      <!-- Change the page title here -->
     
      <h1 class="nhsuk-heading-xl">Trainee profile</h1>



        <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Trainee name
    </dt>
    <dd class="nhsuk-summary-list__value">
     John Philips (Jophi)
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Start date
    </dt>
    <dd class="nhsuk-summary-list__value">
     1 April 2025
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Trainees manager
    </dt>
    <dd class="nhsuk-summary-list__value">
     	Matthew John (majoh)
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Training group
    </dt>
    <dd class="nhsuk-summary-list__value">
    Group 5
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
     Status
    </dt>
    <dd class="nhsuk-summary-list__value">
      <strong class="nhsuk-tag nhsuk-tag--blue">Ongoing</strong>
    </dd>
  </div>
</dl>

<a href="view-error-list" class="nhsuk-button" data-module="nhsuk-button" type="submit">
    View error
</a>

<a href="edit-trainee" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Edit information
</a>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}